!!!
%html
  %head
    %title WebRTC XFTV
    - SCRIPTS.each do |x|
      %script{ type: 'text/javascript', src: x }
    - CSS.each do |x|
      %link{ type: 'text/css', rel: 'stylesheet', media: 'screen',
             href: x }/
  %body
    %video#video
    %canvas#canvas
    %div
      #prefs
        - PREFS.each do |k,v|
          %label&= k
          %input.control{ id: "prefs_#{k}", type: 'text', value: v,
                          size: v.to_s.length }
    %div
      %button.control#start Start
    %div
      %ul#links
