html, body {
  height: 100%; width: 100%; text-align: center;
}

#video {
  border: 1px solid red;
}

#canvas {
  border: 1px solid blue;
}

#start {
  font-size: 2em;
}

#prefs, #links {
  border: 1px solid gray; display: inline-block; padding: 5px;
}
